
#project-post-div {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#post-time-stamp-div {
  display: grid;
  justify-items: center;
  align-items: center;
  min-width: var(--time-line-width);
  width: var(--time-line-width);
}

#time-card {
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  font-size: large;
  border: 5px solid white;
}

#project-title {
  font-weight: bold;
}

#pictures {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 400px;
  height: 250px;
  margin-left: 10px;
}
.project-post-images {
  background-image: url(../resources/projects-images/BlocketJumper_1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  flex-grow: 1;
}

#description {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#content-div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (min-width: 768px) {
  #content-div {
    flex-direction: row;
  }

  #pictures {
    flex-direction: column;
    min-width: 30%;
    height: auto;
  }
}

